################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.exe
*.rar
*.config
*.pdb
/Src/.vs/MDK2VC/v15
/Src/MDK2VC/obj/Debug
/Src/.vs
